<div class="post-box">
  <div class="post-title"><%= post.title %></div>
  <div class="post-body"><%= post.body %></div>
  <div class="post-author">
    <% if user_signed_in? %>
      <%= post.user.username %>
    <% else %>
      Anonymous
    <% end %>
  </div>
</div>
